*{
    margin: 0px;
    border:border-box;
}
.navbar{
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100px;
background-image: url(amazon_logo.jpg);
background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/**box 2**/
.add-first{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left:15px ;
}
.add-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-address{
    margin: 3px;
}

/**box 3**/
.nav-search{
display: flex;
justify-content: space-between;
background-color: pink;
align-items: center;
align-content: center;
border-radius: 4px;
height: 40px;
width: 620px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    text-align: center;
    width: 60px;
    height:38px ;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    height: 35px;
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    height:38px;
    background-color: #f5b45f;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size:1.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/**box 4**/
.nav-flag-lang{
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-flag{
    width: 21.6px;
    height: 16.2px;
    background-image:url(America_flag.jpg);
    background-size:cover;
}
.select-lang{
    background-color: #0f1111;
    font-size: 14px;
    font-weight:600;
    color: #ffffff;
    border: none;
}

/**box 5 &  6**/
span{
    font-size: 12px;
    color: #ffffff;
}
.nav-second{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;

}

/**box 7**/
.nav-cart{
    width: 70px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
.nav-cart i{
    font-size: 30px;
}
#cart{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

/* panel */
.panel{
    height: 40px;  
    background-color: #222f3d;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.panel-all{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.panel-ops{
    width: 70%;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-deals{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff; 
}

/* hero section */
.hero-section{
    height: 600px;
    background-image:url(hero_1.jpg) ;
    background-size: cover;
}
.hero-msg{
    background-color:#f5f6f6 ;
    font-size: 14px;
    text-align: center;
    color: #0f1111;
}
.hero-msg a{
 text-decoration: none;
 font-size: 14px;
 color: #0f1111;
}
